/*--------------------------------------------------
    ## CTA
---------------------------------------------------*/

.cta-area {
    .section-title {
        p {
            @include container (600px);
            @include res-ab(md) {
                font-size: 20px;
            }
        }
        h2{
            font-size: 38px;
        }
    }
    &:before {
        opacity: 1;
        background: linear-gradient(180deg, rgb(147 147 147 / 41%) -28.68%, #393737 83.27%);
    }
}