.project-container{
    .headings-with-border{
        font-size: 38px;
        font-weight: 600!important;
    }
}
.project_details_section {
    padding-bottom: 100px;

    .bannerImage img {
        width: 100%;
        box-shadow: 0px 0px 2px 2px #ccc;
    }
}

.sticky-top-tabs{
    top:0;
    position: sticky;
    margin-top: 15px;
    .sticky-tabs{
        display: flex;
        flex-wrap: wrap;
        -moz-box-pack: justify;
        justify-content: space-between;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        cursor: pointer;
        background-color: #fff;
        .sticky-tab-item{
            text-align: center;
            -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
            box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
            border-bottom: 4px solid #3b7991;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(33.3333% - 10px);
            padding: 10px;
            padding: 10px;
            background: #004763;
            color: #fff;
            &.active{
                background: aliceblue;
                color: #004763;
            }
        }
    }
}

.product_card {
    padding: 15px;
    border: 1px solid #cccccc59;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 10px rgb(95 92 92 / 34%);

    .productTitle {
            font-size: 16px;
    }

    .productImg{
        padding: 5px 0;
        height: 140px;
        text-align: center;

        img{
            height: 100%;
            width: auto;
        }
    }

    .progressBarHeading{
        font-size: 14px;
        font-weight: 600;
    }

    .progress {
        height: 12px;
        max-width: 525px;
        overflow: initial;
        position: relative;
        border-radius: 5px;
        margin-bottom: 5px;
        background-color: #02436240;

        .progress-bar {
            overflow: initial;
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
            border-radius: 5px 0 0 5px;
            background-color: #337ab7;
        }
    }

    .productPrice{
        font-size: .9rem;
        font-weight: 700;
    }

    .product_details {
        display: flex;
        -moz-box-pack: justify;
        justify-content: space-between;
        -moz-box-align: center;
        align-items: center;
        padding: 0 0 10px;

        .product-desc {
            margin-bottom: 0 !important;
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            cursor: pointer;
            gap: 4px;
            padding-top: 5px;
    
            span {
                color: #000;
                font-size: 8px;
                font-weight: 700;
                border: 1px solid #000;
                border-radius: 50%;
                width: 13px;
                line-height: 11px;
                -moz-box-pack: center;
                justify-content: center;
                display: flex;
                -moz-box-align: center;
                align-items: center;
            }
        }
    }

    button.product_quantity_btn {
        padding: 4px 15px;
        border-radius: 5px;
        font-size: 15px;
        color: #363b97;
        border: 1px solid #363b97;
        background: transparent;
        width: auto;
        height: auto;
    }

    .number{
        input{
            height: 30px;
            width: 50px;
            text-align: center;
            font-size: 16px;
            border: 1px solid #363b97;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
        }
        span {
            cursor: pointer;
        }

        .minus,
        .plus {
            width: 28px;
            height: 28px;
            background: #363b97;
            border-radius: 4px;
            padding: 0px 5px 0px 5px;
            border: 1px solid #363b97;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            font-weight: bold;
        }
    }

}

.project_content{
    img{
        width: 100%;
    }

    h3{
        font-size: 24px;
        margin-bottom: 10px;
    }
}

.payment-mods{
    h4{
        font-size: 18px;
    }
    .mode-info{
        border: 1px solid #ccc;
        padding: 23px;
        font-size: 16px;
        height: 375px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .qr-code{
            width: 50%;
            height: auto;
        }
        .note{
            font-size: .9rem;
            line-height: 1.3;
            font-weight: 500;
        }
        p{
            line-height: 1.3;
            margin-bottom: 10px;
        }
    }

    .donate-btn{
        background: #337ab7;
        color: #fff;
        padding: 6px 20px;
        border-radius: 5px
    }
}

.project-heading{
    font-size: 26px;
    color: #363b97;
    font-weight: 600;
}

.no-updates{
    background: #deecf8;
    padding: 20px 10px;
    font-size: 16px;
}

.campaign-progress-info {
    padding-bottom: 18px;
    h4{
        font-size: 1.13rem;
        font-weight: 700;
        color: #204d74;
        small{
            font-size: .98rem;
            color: #777;
        }
    }
    .progress,
    .progress-stacked{
        --bs-progress-height: 1.2rem;
    }
    ul{
        margin: 4px 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;
            width: 48%;

            &:last-child{
                text-align: right;
                margin-left: 14px;
            }
        }
    }
}
.donate-amount-placeholder {
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
    transition: 0.3s;

    ul{
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        margin: 0;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 0;

        li{
            font-size: 18px;
            line-height: 25px;
            min-width: 33.4%;
            padding: 0.6em;
            text-align: center;
            border-right: 1px solid #ccc;
            cursor: pointer;
        }
    }
}
.donate_amount_field {
    position: relative;
    margin-bottom: 10px;
    .donate_currency {
        font-size: 16px;
        left: 13px;
        position: absolute;
        line-height: 42px;
    }
    .form-control {
        border-radius: 0;
        padding: 6px 6px 6px 28px;
        height: 40px;
        font-size: 16px;
    }
}
.form_desc{
    font-size: 13px;
    font-weight: bold;
}
.form_desc2{
    text-align: justify !important;
    font-size: 13px;
    line-height: 1.5;
}
.name_display_wrap label {
    border: 1px solid #ccc;
    padding: 5px 25px;
    margin-right: 5px;
}
.donate-form-button button {
    background-image: none;
    border-radius: 0;
    border: 2px solid #024362 !important;
    background: #024362 !important;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    width: 100%;
}
.donationOptForm {
    position: sticky;
    top: 0%;
    bottom: 25%;
    left: 0;
}
.campaign_donation_payment .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    margin-bottom: 4px;
}

.sub-donate {
    margin-bottom: 30px;
    h4{
        font-weight: 600;
        color: #363b97;
        font-size: 20px;
    }
    input[type=radio] {
        margin-bottom: 12px;
    }
}
.donate-form-wrapper {
    margin-top: 60px;
    padding: 45px 40px;
    padding: 20px 10px;
    background-color: #f1f1f5;
    -webkit-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .1);
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .1)
}
#bookMealForm .radiolable,
#donateForm .radiolable {
    display: inline;
    font-size: 14px;
    font-weight: normal;
}
#bookMealForm .radiolable,
#donateForm .radiolable{
    display: inline;
    font-size: 14px;
    font-weight: normal;
}
#donateForm .form-control{
    height: 40px;
    border-radius: 0;
    background: #fff;
    font-size: 14px;
}
#donateForm .form-group label{
    font-weight: 800;
    margin-bottom: 0;
    padding-left: 4px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0;
    font-weight: 700;
}
#donateForm .form-group label .required{
    color: red;
}
.name_display_wrap label {
    border: 1px solid #ccc;
    padding: 5px 25px;
    margin-right: 5px;
}
.donate_info{
    font-size: 1rem;
    font-weight: bold;
}
.form-group .form-control{
    padding: 7px 18px;
}
.date-items {
    overflow: hidden;
    margin: 0 -4px;
    .date-item {
        float: left;
        width: 33.333%;
        padding: 0 4px;
    }
}
